<!DOCTYPE html>
<html lang="en">

<head>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/favicon"
        href="{{ url_for('static', filename='image/logo/logo_cromwell.jpg') }}">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- feather -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/feather.css') }}">
    <!-- other stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}Cromwell Garden Centre{% endblock %}</title>
</head>

<body>
    <!-- top notification start -->
    <div class="top-noticifaction-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <ul class="noticifaction-entry">
                        <li class="notify-wrap contact-link">
                            <div class="text-wrap">
                                <div class="richtext">
                                    <p>Free shipping plant store for above 78.00</p>
                                </div>
                            </div>
                        </li>
                        <li class="notify-wrap notify-wrap-center">
                            <div class="richtext">
                                <p>Welcome to our Cromwell Garden Centre </p>
                            </div>
                        </li>
                        <li class="notify-wrap notify-wrap-right">
                            <div class="richtext">
                                <p>Online order <a href="tel:+291003600600" title="tel:+291003600600">+2910 0360
                                        0600</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- top notification end -->

    <!-- header start -->
    <header class="main-header">
        <div class="header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="header-main">
                            <!-- header-logo start -->
                            <div class="header-element header-logo">
                                <a href="{{url_for('home_bp.index')}}" class="theme-logo">
                                    <img src="{{ url_for('static', filename='image/logo/logo_cromwell.jpg') }}"
                                        class="img-fluid" alt="logo">
                                </a>
                            </div>
                            <!-- header-logo end -->
                            <button class="toggler-button"><span class="line"></span></button>
                            <!-- header-menu start -->
                            <div class="header-element megamenu-content">
                                <a href="#desk-main-collapse" data-bs-toggle="collapse" class="browse-cat">
                                    <span class="menu-icon"><i class="fa-solid fa-bars"></i></span>
                                    <span class="menu-title">Menu</span>
                                    <span class="menu-arrow"><i class="fa-solid fa-chevron-down"></i></span>
                                </a>
                                <div class="main-wrap collapse show" id="desk-main-collapse">
                                    <ul class="main-menu">
                                        <li class="menu-link">
                                            <a href="{{url_for('home_bp.index')}}" class="link-title">
                                                <span class="sp-link-title">HOME</span>
                                            </a>
                                            <a href="#desk-menumain-single" data-bs-toggle="collapse"
                                                class="link-title link-title-lg">
                                                <span class="sp-link-title">HOME</span>
                                            </a>
                                        </li>
                                        <li class="menu-link">
                                            <a href="{{url_for('home_bp.categories')}}" class="link-title">
                                                <span class="sp-link-title">SHOP</span>
                                            </a>
                                            <a href="{{url_for('home_bp.categories')}}" data-bs-toggle="collapse"
                                                class="link-title link-title-lg">
                                                <span class="sp-link-title">SHOP</span>
                                                <span class="menu-arrow"><i class="fa-solid fa-chevron-down"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- header-menu end -->
                            <!-- header-icon start -->
                            <div class="header-element header-icon">
                                <ul class="shop-element">
                                    <li class="side-wrap search-wrap">
                                        <div class="search-wrapper">
                                            <a href="#search-modal" data-bs-toggle="modal">
                                                <span class="search-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="20" height="20" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="feather feather-search">
                                                        <circle cx="11" cy="11" r="8"></circle>
                                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                                    </svg></span>
                                                <span class="search-title">Find our item</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="side-wrap user-wrap">
                                        <div class="user-wrapper">
                                            <a href="{{url_for('home_bp.login')}}">
                                                <span class="user-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="20" height="20" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="feather feather-user">
                                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                        <circle cx="12" cy="7" r="4"></circle>
                                                    </svg></span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="side-wrap wishlist-wrap">
                                        <div class="wishlist-wrapper">
                                            <a href="wishlist.html">
                                                <span class="wishlist-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="20" height="20" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="feather feather-heart">
                                                        <path
                                                            d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                                        </path>
                                                    </svg></span>
                                                <span class="wishlist-counter">3</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="side-wrap cart-wrap">
                                        <div class="cart-wrapper">
                                            <a href="JavaScript:void(0)" class="cart-count">
                                                <span class="cart-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                        width="20" height="20" viewBox="0 0 24 24" fill="none"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" class="feather feather-shopping-bag">
                                                        <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z">
                                                        </path>
                                                        <line x1="3" y1="6" x2="21" y2="6"></line>
                                                        <path d="M16 10a4 4 0 0 1-8 0"></path>
                                                    </svg></span>
                                                <span class="cart-counter">11</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- header-icon end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- category menu start -->

    <!-- category menu end -->

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>